<h1>Stupid Coaching</h1>

<div id="answer">
  <p><%= @answer %></p>
  <p> -You </p>
</div>
<div id="coach-asnwer">
  <p><%= @question %></p>
  <p> -Your Coach</p>
</div>
<div id="to-ask">
<%= link_to "Ask a new question", ask_path %>
</div>
