// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#answer{
  border-left: 10px solid #bfbfbf;
  padding: 10px 0px 10px 15px;
  margin-left: 20px;
  margin-top: 10px;
}

#coach-asnwer{
  border-left: 10px solid #bfbfbf;
  padding: 10px 0px 10px 15px;
  background-color: #fcfca4;
  margin-left: 20px;
  margin-top: 10px;
}

#to-ask{
  margin-left: 20px;
  margin-top: 10px;
}
